/* format for the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color for website */
body {
    background-color: #d9dcd6;
}

/* the header sections format the heading of the document */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header h1 and header h1 .seo format the company name at the top left and add in 2 different colors */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* this section formats the appearance of the links and where they are placed on the page */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* takes out any styling that is automaticly put in place with lists */
.header nav ul {
    list-style-type: none;
}

/* creates spacing between the links and allows for the links to be placed side by side */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* format for the 3 links at the top right of the page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* format for the big background image on the website */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* formatting all paragraph tags to 16px font size */
p {
    font-size: 16px;
}

/* formats this section to appropriately fit all items on the website */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* adjustst the spacing/formatting to make the website appear organized */
.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* allows images to be sized correctly */
.search-engine-optimization img, 
.online-reputation-management img, 
.social-media-marketing img {
    max-height: 200px;
}

/* styles the headers in this section */
.search-engine-optimization h2, 
.online-reputation-management h2, 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* float left and float right allows images to be placed where they are on the page with correct formatting */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* styles the right column on the bottom half of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* allows for correct spacing and changes color */
.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* formats the headers in this section */
.benefit-lead h3, 
.benefit-brand h3, 
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* formats the images to correctly fit on the page */
.benefit-lead img, 
.benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* allows for proper formatting of the footer which creates a nice finish to the page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changes the footer heading font */
.footer h4 {
    font-size: 20px;
}
